<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Payment Schedule - 2021</title>
  <style>
    body {
      font-family: sans-serif;
    }

    th, td {
      text-align: left;
      padding: 10px;
    }

    td {
      vertical-align: top;
    }
  </style>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Age Group</th>
        <th>Player</th>
        <th>Paid?</th>
        <th>Contact Emails</th>
      </tr>
    </thead>
    <tbody>
      @each ((players, ageGroup) in ageGroups)
        <tr>
          <td>{{ ageGroup }}</td>
          <td>
            @each (player in players)
              <span>{{ player.name }}</span>
              <br>
            @end
          </td>
          <td>
            @each (player in players)
              @if (player.paid)
                <span style="color:green">{{ player.amountPaid }}</span>
              @else
                <span style="color:red">Not Paid</span></span>
              @end
              <br>
            @end
          </td>
          <td>
            @each (player in players)
              <span>{{ player.user.email }}</span>
              @if (player.user.alternateEmail)
              <span>/ {{ player.user.alternateEmail }}</span>
              @endif
              <br>
            @end
          </td>
        </tr>
      @end
    </tbody>
  <table>
</body>
</html>
