<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Subscriptions Payment Schedule - 2021</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      font-size: 11px;
    }

    body {
      padding: 20px;
    }

    table {
      margin-bottom: 20px;
      width: 100%;
    }

    th, td {
      text-align: left;
      padding: 0 10px;
    }

    td {
      vertical-align: top;
    }

    tr th:first-of-type,
    tr td:first-of-type {
      width: 10%;
    }

    tr th:nth-of-type(2),
    tr td:nth-of-type(2) {
      width: 20%;
    }

    tr th:nth-of-type(3),
    tr td:nth-of-type(3) {
      width: 10%;
    }

    tr th:last-of-type,
    tr td:last-of-type {
      width: 60%;
    }

    a {
      color: black;
    }
  </style>
</head>
<body>
  @each (ageGroup in ageGroups)
    <table>
      <thead>
        <tr>
          <th>Age Group</th>
          <th>Player</th>
          <th>Subscription Status</th>
          <th>First Payment Date</th>
          <th>Contact Email(s)</th>
        </tr>
      </thead>
      <tbody>
        @each (player in ageGroup.players)
          <tr>
            @if (ageGroup.players.indexOf(player) === 0)
              <td>{{ ageGroup.ageGroupName }}</td>
            @else
              <td>&nbsp;</td>
            @end
            <td>
              <span title="{{ player.stripePaymentIntentId }}">{{ player.name }}</span>
            </td>
            <td>
              @if (player.subscriptionStatus === 'not_setup')
                <span title="{{ player.subscriptionStatus }}" style="color:red">Not Setup</span>
              @elseif (player.subscriptionStatus === 'trialing')
                <span title="{{ player.subscriptionStatus }}" style="color:goldenrod">Trial Mode</span>
              @elseif (player.subscriptionStatus === 'active')
                <span title="{{ player.subscriptionStatus }}" style="color:green">Active</span>
              @elseif (player.subscriptionStatus === 'unpaid' || player.subscriptionStatus === 'past_due')
                <span title="{{ player.subscriptionStatus }}" style="color:chocolate">Payment Missed</span>
              @elseif (player.subscriptionStatus === 'incomplete' || player.subscriptionStatus === 'incomplete_expired')
                <span title="{{ player.subscriptionStatus }}" style="color:chocolate">Missing Payment Method</span>
              @elseif (player.subscriptionStatus === 'canceled')
                <span title="{{ player.subscriptionStatus }}" style="color:red">Cancelled</span>
              @else
                <span title="{{ player.subscriptionStatus }}">Unknown</span>
              @end
            </td>
            <td>
              @if (player.firstPaymentDate)
                <span>{{ player.firstPaymentDate }}</span>
              @else
                <span>N/A</span>
              @end
            </td>
            <td>
              <a href="mailto:{{ player.user.email }}">{{ player.user.email }}</a>
              @if (player.user.alternateEmail)
              or <a href="mailto:{{ player.user.alternateEmail }}">{{ player.user.alternateEmail }}</a>
              @endif
            </td>
          </tr>
        @end
      </tbody>
    </table>
  @end
</body>
</html>
