PORT=3333
HOST=0.0.0.0

NODE_ENV=development

APP_NAME=ncj-backend
APP_KEY=
APP_KEY_WEB=

CACHE_VIEWS=false

DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=
PG_USER=
PG_PASSWORD=
PG_DB_NAME=

REDIS_CONNECTION=local
REDIS_HOST=127.0.0.1
REDIS_PORT=
REDIS_PASSWORD=

MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_PORT=587

STRIPE_API_SECRET=
STRIPE_API_VERSION=2020-08-27
STRIPE_SUBSCRIPTION_PRICE_ID_MALE=
STRIPE_SUBSCRIPTION_PRICE_ID_FEMALE=

SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=
